body {
  font-family: 'Poppins', sans-serif;
}
.marks .land {
  fill: #e2e1e1 
}

.marks .interiors {
  fill: none;
}

.marks .sphere {
  fill: #efeeee;
}

.marks circle {
  fill: #137b80;
  opacity: 0.3;
}

.ticks line {
  stroke: #c0c0bb;
}

.ticks text {
  fill: #635f5d;
  font-size: 0.8em;
}

rect {
  fill: #137b80;
}