.marks .land {
  fill: #e2e1e1 
}

.marks .interiors {
  fill: none;
}

.marks .sphere {
  fill: #efeeee;
}

.marks circle {
  fill: #137b80;
  opacity: 0.3;
}

.ticks line {
  stroke: #c0c0bb;
}

rect {
  fill: #137b80;
}